blinker==1.6.2
click==8.1.3
dnspython==2.3.0
Flask==2.3.2
importlib-metadata==6.6.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
MarkupSafe==2.1.2
nltk==3.8.1
pymongo==4.3.3
regex==2023.5.5
textblob==0.17.1
tqdm==4.65.0
uWSGI==2.0.28
Werkzeug==2.3.4
zipp==3.15.0
